
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;

}
#modal{
    z-index: 9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: fixed;
}
.card-body a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    background-color: rgba(225, 149, 240,0.4);

}
.header{
    background-color: rgba(225, 149, 240,0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header h1{
    align-items: center;
    font-family: 'Supermercado One', cursive;
    margin-left: 20px;
    margin-top: 10px;
   
}
.header ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

}
.header ul li{
    font-size: 20px;
    font-weight: 200;
}
.header ul li:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}
li::marker{
    color: transparent;
}
.carrocel, .carousel-item img{
    height: 45vh;


}

.cards{
    font-weight: 200;
    display: flex;
    flex-direction: row;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    margin-top: 50px;
    gap: 15px;
}

.footer{
    background-color: rgba(225, 149, 240,0.4);
    height: 20px;
}

@media only screen and (max-width: 1138px) {
    .cards{
        display: grid;
        grid-template-columns: 1fr;

    }
    .card img{
        height: 300px;
        width: auto;
    }
  }